*,
 :after,
 :before {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 1px solid rgba(0, 0, 0, 0.06);
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

q:after,
q:before {
    content: "";
}

input:password {
    ime-mode: disabled;
}

 :focus {
    outline: 0;
}

 ::-ms-clear,
 ::-ms-reveal {
    display: none;
}

body,
html {
    min-height: 100%;
}

body {
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,
img {
    -webkit-touch-callout: none;
    border: none;
}

body {
    background: none !important;
    color: #333;
}

body,
button,
input,
select,
textarea {
    font-size: 14px;
    line-height: 1;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

input {
    line-height: normal;
}

a {
    color: #0ae;
    text-decoration: none;
    transition: none;
}

label {
    cursor: pointer;
}

@font-face {
    font-family: "iconfont";
    src: url(https://h5static.kuwo.cn/www/kw-www/fonts/iconfont.cae4207.eot);
    src: url(https://h5static.kuwo.cn/www/kw-www/fonts/iconfont.7bda2c1.ttf) format("truetype"), url(https://h5static.kuwo.cn/www/kw-www/img/iconfont.fb44513.svg#iconfont) format("svg");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-header_icon_search_:before {
    content: "\e613";
}

.icon-pop_icon_returntop:before {
    content: "\e616";
}

.icon-bar_icon_arrow_:before {
    content: "\e618";
}

.icon-icon_pagedown_:before {
    content: "\e622";
}


/* 播放图标 */

.icon-icon_play_1:before {
    content: "\e665";
}


/* 页面底部图标 */

.icon-banner_icon_windows_:before {
    content: "\e611";
}

.icon-banner_icon_android_:before {
    content: "\e60f";
}

.icon-footer_pic_iphone_:before {
    content: "\e60d";
}


/* 导航icon */

.icon-banner_icon_platform:before {
    content: "\e612";
}


/* 公共样式 */

.flex_c {
    display: flex;
    align-items: center;
}

a.active,
a:hover {
    color: #000;
}

a.active {
    font-weight: 600;
}

a.active:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 6px;
    background: #ffe443;
    z-index: -1;
}